
body, html{
    font-family: Arimo, sans-serif;
    scroll-behavior: smooth;
}



/* =================
====================
    NAVBAR
====================
==================== */



.navbar{
    background-color: #F7F2DE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.navbar h3{
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar img{
  transition: 0.3s;
  width: 1.3125em;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: none;
}

.navbar img:hover{
  opacity: 40%;
  transition: 0.3s;
}

.navbar button{
  border: none;
  margin-left: 20px;
}

#sidenav-divider{
  border-bottom: 1px solid;
  width: 100%;
  margin-top: 1px;
}

.sidenav #top-nav{
  position: absolute;
  top: 0.5em;
  font-size: 2em;
  font-family: 'Frank Ruhl Libre', sans-serif;
  font-weight: lighter;
}

.sidenav{
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #008f51;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.3s;
    font-size: 36px;
}

.sidenav h3{
    font-size: 2em;

}

.sidenav a:hover {
    text-decoration: underline;
}

.sidenav button{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.3s;
  font-size: 2.25em;
  border: none;
  background-color: #008f51;
}

.sidenav .closebtn {
    position: absolute;
    top: 6px;
    left: 0;
    font-size: 36px;
  }
  
  .sidenav .closebtn:hover{
      text-decoration: none;
    }

#checkout{
   margin-top: 100%;
}

#products{
    margin-top: 150px;
}

  .cart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 36px;
    background-color: #28BD6D;
    border-radius: 50px;
    margin-right: 32px;
    font-size: 14px;
}

.cart-count{
    display: inline-block;
}


 @media screen and (max-width: 450px) {
    .sidenav {
      padding-top: 15px;
      /* display: flex;
      flex-direction: column;
      align-items: center; */
      color: blue;
      
    }
    .sidenav a {font-size: 24px;}
    .sidenav #top-nav{
      display: none;
    }

    #sidenav-divider{
      margin-top: 2.88em;
    }

    .cart-container{
      margin-right: 0.3em;
    }

    .navbar img{
      margin-left: 0.3em;
    }

    .navbar h3{
      margin-left: 3.9em;
    }
   
  }