* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html{
    /* font-family: Frank Ruhl Libre; */
    font-family: 'Arimo', sans-serif;
    background-color: #F7F2DE;
    scroll-behavior: smooth;
}

  .produce{
    margin-top: -52px;
    margin-left: 80px;
  }
  
  .produce h1{
    font-size: 36px;
    padding-top: 158px;
    padding-bottom: 30px;
  }

  .produce p{
    font-size: 20px;
    width: 40%;
  }
  

  @media screen and (max-width: 720px){
    .produce p{
      width: 345px;
        font-size: 18px;
    }

    .produce{
      margin-left: 20px;
      margin-top: -80px;
    }
  }

.popular-produce{
  margin-top: 52px;
}

  .produce-image-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    width: 100%;
    max-width: 90%;
    margin: auto;
    overflow: hidden;
  }

  .produce-image-grid img{
    width: 445px;
    height: 432px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center center;
  }


  .produce-image-grid figure{
    position: relative;
    display: block;
    margin: 0;
    width: 95%;
  }

  .produce-image-grid figcaption {
    font-size: 1.5em;
    color: #1B1A1E;
    display: inline;
    bottom: 0; 
    width: 50%; 
    padding-top: 10px;
}

.produce-image-grid figcaption.left {
  left: 0; 
  text-align: left;
  font-size: 1.5em;
  display: inline-flex;
  width: 70%
}

.produce-image-grid figcaption.right {
  padding-top: 12px;
  font-size: 1.5em;
  display: inline;
  right: 0;
}

.produce-image-grid figcaption.under{
  font-size: 1em;
}

.add-to-cart {
  position: absolute;
  bottom: 80px;
  left: 280px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  width: 9.5em;
  height: 38px;
  border-radius: 2.75em;
}

button.add-to-cart:hover {
    background-color: #AE2E21; 
}


@media screen and (max-width: 720px) {

 
.produce-image-grid{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 50px;
  width: 95%;
  margin: auto; 
}

.produce-image-grid img{
  width: 345px;
  height: 279px;
} 

.produce-image-grid figcaption{
  /* width: 120px; */
  position: relative;
  display: inline;

}

.produce-image-grid figcaption.left{
  left: 0; 
  text-align: left;
  display: inline-flex;
  margin: 0;
  width: 62%;
}
  
.add-to-cart{
  position: absolute;
  padding: 10px 15px;
  transform: translateX(-65%);
}
  }




/* .map{
    border-top: 1px solid;
    margin-top: 69px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 500px;

}

.map h1{
    font-size: 36px;
    border-right: 1px solid;
}

.right-column img{
    width: 745px;
    height: 478px;
} */

/* .right-column{

    flex: 1;    vet ikke om jeg trenger denne
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
} */

/* .column{
   position: absolute;
   left: 50%;
} */





.map-layout {
    flex: 1;  
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    /* padding: 20px; */
}



.left-column {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    width: 30%;
}

 .map-layout .map-divider{
  border-right: 1px solid black;
  height: 100%;
}

.left-column h1{
    font-size: 2.25em;
    font-weight: lighter;
    width: 12em;
    text-align: center;
    padding: auto;
}

.right-column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 850px;
    border-top: 1px solid black;
    margin-top: 34px;
}

iframe {
    border: 0;
    border-radius: 16px;
    /* max-width: 400px; */
    margin: 30px;
}

@media (max-width: 720px){
  .right-column iframe{
    width: 100%;
  }

  .right-column{
  width: 100%;
  }

  
  .map-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-column{
    border: none;
    width: 100%;
  }

  .left-column h1{
    font-size: 1.5em;

  }

 .map-layout{
    border-top: 1px solid;

  }

.map-layout{
  margin-top: 100px;
}


}





/* ============================
===============================
  FOOTER
   =============================
   ===========================*/

footer{
    background-color: #DC4131;
    color: white;
    overflow: hidden;
   }

   footer h1{
    font-size: 48px;
    margin-left: 45px;
    padding-top: 41px;
   }

   footer h2{
    font-size: 36px;
    /* padding: 20px 40px; */
    margin-left: 57px;
    margin-top: 40px;
   }

   footer p{
    font-size: 20px;
    margin-left: 54px;
    margin-top: 26px;
    width: 23%;
    padding-bottom: 17px;
   }

  .footer-divider{
    color: white;
    border: 1px solid white;
    margin-left: 28px;
   }

   .footer-extender{
    margin-bottom: 93px;
   }

   @media (max-width: 720px){
    footer p{
        width: 279px;
        font-size: 1em;
        margin-left: 29px;
    }

    footer h1{
        font-size: 3em;
        margin-left: 29px;
    }

    footer h2{
        font-size: 1.5em;
        margin-left: 32px;
    }
   }

   /* ============
   FORM
   =============== */

   form{
    margin-left: 57px;
    width: 20%;
    position: relative;
    margin-bottom: 93px;
   }

   form button{
    width: 0.875em;
    height: 1m;
    margin: 5px 0;
    background-color: white;
    border: none;
    position: absolute;
    right: 1em;
    top: 3.8em;
   }

   form input{
    width: 100%;
    height: 30px;
    margin: 6px 0;
    border-radius: 4px;
    border: none;
    text-align: left;
    box-sizing: border-box;
    text-indent: 20px;
     font-size: 1em; /* Fjerner zoom når man trykker */
   }

   form input:focus{
    outline: 2px solid;
   }

  form input::placeholder {
    font-size: 1em;
    text-indent: 20px;
    padding-left: 10px;
  }

   @media (max-width: 720px){
    form {
        width: 329px;
        margin-left: 29px;
    }

    form input::placeholder{
      text-indent: 10px;
    }

    form button{
        margin-bottom: 62px;
    }

  }


  